body {
  font-family: DancingScript;
  background-color: #800080;
  Color: #FFFFFF;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

#Flynn:hover {
    background: url("../images/Flynn.JPEG");
    float: right;
    display: block;
    width: 500px;
    height: 400px;

}

.title p {
  margin: 0;
}
body > div {
  width: 80%;
  margin: 20 px auto;
}

img {
  max-width: 100%;
  height: auto;
  float: left;
  margin-right: 20 px;
}

p {
  margin-bottom: 15 px;
}

#Flynn {
  font-weight: bold;
  color: #FFFFFF; 
}

footer {
  background-color:;
  Color: #CBC3E3;
  text-align: center;
  padding: 10 px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
