body{
    font-family: Arial, sans-serif;
Font color: white
}

.main-container {
    
    /* Draw a dashed border make it white */
    border-style: dashed;
    border-width: 6px;
    border-color: white;
    /*Add space between the border and its inside elements. */
    padding: 12px;
    /* Color the background red */
 background-color: red;
    margin: .5;
}

div.align{
    text-align: center;
}
