body{
    font-family: Arial, sans-serif;
}

.main-container {
    
    /* Draw a dashed border make it white*/
    border-style: dashed;
    border-width: 4px;
    border-color: white;
    /*Add space between the border and its inside elements. */
    padding: 12px;
    /* Color the background dark red. */
    background : dark red;
    width: 75%;
    margin: auto;
}

div.align{
    text-align: center;
}

.secondary-container{
    
    margin: auto;
    width:50%;
    padding: 50px;
    border-bottom: 1px white solid;
    border-spacing: inherit;
}

#mainheader{
    position: relative;
    left: 20px;
    top:5px;
    color: dark red;
    opacity: .50;
    font-size: 75px;
}
