body {
  background-color: dark red;
  border: 2px dashed red;
  font-family: 'Arial', sans-serif;
Font color: red;
  margin: 0;
  padding: 20px;
}
.main-container {
    
    /* Draw a solid border make it red*/
    border-style: solid;
    border-width: 8px;
    border-color: red;
margin: auto;
    width:50%;
    padding: 50px;
    border-bottom: 1px red solid;

    /*Add space between the border and its inside elements. */
    padding: 20px;
}

div.align{
    text-align: center;
}
